body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #201C1C;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: black;
  padding: 0.625rem 0;
  border-bottom: 2px solid #DB8F1D;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 6.25rem;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
}

.title {
  text-align: center;
  margin-left: 1.25rem;
}

nav {
  text-align: center;
  margin-top: 0.625rem;
}

.menu {
  padding: 0.3125rem 0.9375rem;
  text-decoration: none;
  color: #DB8F1D;
  border-radius: 4px 4px 0 0;
  margin: 0 0.625rem;
}

.menu:hover {
  background-color: #ffa62170;
  transition: 0.5s;
}

main {
  flex: 1;
  padding: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  padding: 0.625rem 0;
  background-color: black;
  border-top: 1px solid #DB8F1D;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 0.9375rem;
}

.single-gallery {
  position: relative;
  width: 12.5rem;
  height: 31.25rem;
  transition: width 1s;
}

.single-gallery:hover {
  width: 20%;
}

.single-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.single-gallery .info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  padding: 0.625rem;
  box-sizing: border-box;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.single-gallery .info h1, 
.single-gallery .info p {
  margin: 0;
}

.single-gallery .info a {
  display: inline-block;
  margin-top: 0.3125rem;
  color: #DB8F1D;
  text-decoration: none;
  font-weight: bold;
}

.single-gallery .info a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .gallery {
    flex-wrap: wrap;
  }

  .menu {
    padding: 0.3125rem;
    font-size: 0.9375rem;
  }

  .single-gallery.expanded {
    width: 85%;
  }
}
